select.statai-dropdown,
textarea.statai-input,
input.statai-input[type="text"],
input.statai-input[type="number"],
input.statai-input[type="password"] {
    background-color: var(--st-secondary-color);
    color: var(--st-primary-color);
    border: 2px solid var(--st-primary-color);
    border-radius: 4px;
    padding: 5px;
}
input.statai-input[type="button"]
{
    background-color: var(--st-secondary-color);
    color: var(--st-primary-color);
    border-radius: 4px;
    padding: 5px;
}

.statai_default_colors
{
    background-color: var(--st-secondary-color);
    color: var(--st-primary-color);
}
.statai-stat
{
    font-size: calc(0.8em * var(--statai-font-size,1));
    color: var(--st-primary-color);
    filter: grayscale(50%);
}